body {
  margin: 0;
  overflow: hidden;
}

#toolbar-right-toggle {
  position: absolute;
  left: -25px;
  top: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ff0000;
}

#toolbar-right {
  background-color: #304a5e;
  position: absolute;
  width: 270px;
  height: 300px;
  right: -270px;
  top: 0;
}

#user-view-compass {

  #station {
    background-color: #ff0000;
    width: 5px;
    height: 5px;
    transform-origin: 3px 52px;
    transform: rotate(7deg);
    position: absolute;
    left: 45px;
  }

  #compass-circle {
    background-color: #00ff00;
    width: 100px;
    height: 100px;
    position: relative;
      border-radius: 50px;
  }

}


