/* line 1, ../../sass/telemetry.scss */
.toolbar--bottom {
  width: 100%;
  position: relative;
  height: 200px;
  top: -416px;
}

/* line 8, ../../sass/telemetry.scss */
#temperature-chart,
#pressure-chart {
  height: 180px;
  width: 230px;
  display: inline-block;
}

/* line 15, ../../sass/telemetry.scss */
#air-chart,
#water-chart {
  height: 200px;
  width: 230px;
  display: inline-block;
}

/* line 22, ../../sass/telemetry.scss */
#voltage-chart {
  display: inline-block;
  width: 750px;
}

/* line 27, ../../sass/telemetry.scss */
.telemetry-inline {
  display: inline-block;
}
