/* line 1, ../../sass/telemetry.scss */
.toolbar--bottom {
  width: 100%;
  position: relative;
  height: 420px;
  top: 0;
}

/* line 8, ../../sass/telemetry.scss */
#temperature-chart,
#pressure-chart {
  height: 180px;
  width: 230px;
  display: inline-block;
}

/* line 15, ../../sass/telemetry.scss */
.sidebar-toggle--bottom {
  position: absolute;
  left: 21px;
  top: -35px;
  transform: rotate(90deg);
}

/* line 22, ../../sass/telemetry.scss */
#air-chart,
#water-chart {
  height: 200px;
  width: 230px;
  display: inline-block;
}

/* line 29, ../../sass/telemetry.scss */
#voltage-chart {
  display: inline-block;
  width: 750px;
}

/* line 34, ../../sass/telemetry.scss */
.telemetry-inline {
  display: inline-block;
}
