<aside id="toolbar-bottom" class="toolbar--bottom sidebar active">
    <a href="#" id="toolbar-bottom-toggle" data-toggle="tooltip" data-placement="right" title="Hide/Show Telemetry dashboard"
       class="sidebar-toggle sidebar-toggle--bottom"></a>
    <div class="col-xs-9">
        <section class="footer__inner">
            <div id="voltage-chart"></div>
            <div class="telemetry-inline">
                <div>
                    <div id="pressure-chart"></div>
                    <div id="temperature-chart"></div>
                </div>
                <div>
                    <div id="water-chart"></div>
                    <div id="air-chart"></div>
                </div>
            </div>
        </section>
    </div>
</aside>