<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="public/stylesheets/styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="public/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/javascripts/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="public/javascripts/daynightoverlay.js"></script>
    <script type="text/javascript" src="public/javascripts/application/mapStyles.js"></script>
    <script type="text/javascript" src="public/javascripts/application/map.js"></script>
</head>
<body>

{% include 'navbar.html.twig' %}

<div class="container-fluid">
    <div class="row">
        <div id="map" class="main"></div>

        {% include 'aside-right.html.twig' %}

    </div>
</div>
</body>
</html>
